﻿body .top-bar {
    border-block-color: red;
    background-color: lightgray;
}

    body .top-bar .main-bar {
        border-block-color: green;
        display: flex;
        flex-direction: row;
    }


        body .top-bar .main-bar .contact-left {
            width: 50%;
            border-block-color: blue;
            justify-content: flex-start;
            margin: 0 2px;
            display: inline-block;
        }

        body .top-bar .main-bar .login-right {
            width: 50%;
            display: inline-block;
            justify-content: center;
            margin: 0 5px;
        }


body .logo-bar .container-picture {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

    body .logo-bar .container-picture .logo .ads1 .ads2 {
        display: inline-block;
        background-color: gray;
    }

.logo img {
    max-width: 100%;
    height: auto;
}

.ads1 img {
    max-width: 100%;
    height: auto;
}

.ads2 img {
    max-width: 100%;
    height: auto;
}
